header{
  padding: 20px;
  background-color: #0E2140;
  .navbar {
    width: 100%;
    background-color: #0E2140;
    overflow: auto;
    margin: 0;
    padding: 0;
    .brand{
      float: left;
      a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Rubik Marker Hatch', cursive;
      }
    }
    ul{
      list-style-type: none;
      margin: 0;
      li{
        margin:auto 18px;
       a {
          color: white;
          text-decoration: none;
          font-size: 18px;
          text-align: center;
       }

     }
  }

  .navbar-left{
    li{
      float: left;
    }
  }

  .navbar-right{
    li{
      float: right;
    }
  }
  }
}

.nav {
  li{
    a{
      &:hover{
        // background-color: #000;
      }
    }
  }
}

.active{
  border-bottom: 1px solid white;
  padding: 0;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .nav li a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
