<div class="w3-bar w3-border course-header-title-container" *ngIf="course">
  <p class="course-header-title" >{{course.title}}</p>
</div>
<div class="course-container">
  <div class="course-list-container">
    <h3 class="course-side-bar-title">Cours</h3>
    <app-course *ngFor="let courseMember of courses$ | async"
      [course]="courseMember" [ngClass]="{'active' : activeCourseNr === courseMember.c_number}">
    </app-course>
  </div>
  <div class="course-content" *ngIf="course">
    <p >{{course.content}}</p>
  </div>
  <div class="blogs">
    <app-blog *ngFor="let mBlog of blogs" [blog]="mBlog"></app-blog>
  </div>
</div>



