.banner{
  height: 400px;
  .jumbotron{
    img{
      display: block;
      max-width: 100%;
      min-width: 100%;
      height: auto;
      max-height: 400px;

    }
  }

  .asside{
    margin: auto;
    width: 50%;
    div{
      width: 40%;
      float: left;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      margin: 15px;
      h2{
        width: 200px;
      }
    }
  }
}
