<header>
  <div class="navbar">
    <div class="brand">
      <a href="#">StudyPortal</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-fw fa-home"></i>Accueil</a></li>
      <li><a routerLink="cours" routerLinkActive="active"><i class='fa fa-fw fa-book'></i>Cours</a></li>
      <li><a routerLink="articles" routerLinkActive="active" ><i class="fa fa-fw fa-book"></i>Articles</a></li>
      <li><a routerLink="publications" routerLinkActive="active" >Publications</a></li>
      <li><a routerLink="blog" routerLinkActive="active" >Blog </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fa fa-fw fa-user"></i> se connecter</a></li>
      <li><a href="#"><i class="fa fa-fw fa-user"></i> s'inscrire</a></li>
    </ul>
  </div>
</header>

