.blog-container{
  padding: 4px 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 10px;
  .blog-top{
    display: flex;
    p{
      font-size: 11px;
    }
  }
  #blog-link{
    color: blue;
  }
}
